#h1-color{
    color: rgba(3, 3, 75, 0.986);
}
#img-width{
    width:750px;
    height: 715px;
}
#border-with{
    background-color:#f0f0f0fa;
    width:349px;
}
/* button width  */
.button-width{
    width: 70px;
}
.total-flex{
    display: flex;
    justify-content: center;
    gap: 0 30px ;
}

@media screen and (max-width: 992px) {
    .total-flex{
        flex-direction: column;
    }
  }